*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html.body{
    width: 100%;
    height: 100%;
    
}

#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: 99999;
}

.bounding{
    width: fit-content;
    /* background-color: red; */
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translatey(100%);
}
#main{
      width: 100%;
      background-color: black;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
}

#nav{
    width: 100%;
    padding: 20px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#heading{
    margin-top: 90px;
}
#heading h1{
    margin-left: 30px;
    line-height: 1;
    /* font-family: "General Sans Medium"; */
    font-size: 10vw;
    font-weight: 900;
    opacity: .5;

}

#heading #secondh1{
    margin-left: 170px;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
    /* background-color: red; */
}

.blocktext h5{
    font-size: 15px;
    text-align: right;

}

#chhotiheadings{
    margin-top: 100px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#chhotiheadings h5{
    margin-top:.5vw;
    font-size: 1vw;
    text-transform: uppercase;
    text-align: right;
}

#herofooter{
    position: absolute;
    padding: 0 2vw;
    width: 100%;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter a{
    color: white;
    text-decoration: none;

}

#herofooter #iconset{
    display: flex;
    gap: 5px;
}

#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;

}

#second{
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
}

.elem{
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
}

.elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    opacity: 0;
    /* display: none; */
    height: 140%;
    position: absolute;
    z-index: 999;
}

#about{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 50px;
    color: white;;
    width: 100%;
    padding: 30vw 10vw 10vw;
    padding-left: 40vw;
    background-color: black;
}

#textabout{
    width: 25rem;
    /* background-color: red */
}

#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}

#about img{
    width: 200px;
}

#textabout a{
    padding: 12px 22px;
    border-radius: 100px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

#subscribe{
    background-color: black;
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;
}

#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: black;
    color: white;
}

#footerleft{
    display: flex;
    gap: 20px;
}

#footerright{
    display: flex;
    gap: 30px;
}

#footer a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}